<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		
		<title>后台管理系统</title>
		
		<!-- 导入Extjs样式 -->
		<css href="__PUBLIC__/Js/ExtJS/resources/css/ext-all.css" />
		
		<css href="__PUBLIC__/Css/Style.css" />

		<!-- 导入Extjs脚本 -->
		<js href="__PUBLIC__/Js/ExtJS/bootstrap.js"/>
		<js href="__PUBLIC__/Js/ExtJS/ext-lang-zh_CN.js"/>
		
		<{//路径}>
		<include file='Index:JSVars' />
		
		<!-- 导入自己写的JS入口文件 -->
		<js href="__PUBLIC__/Content/init.js"/>	
	</head>
	
</html>