
<{//路径变量}>

<script type="text/javascript">
	
	var PUBLIC = "__PUBLIC__";
    var APP = "__APP__";
    var ROOT = "__ROOT__";

	<{//请求路径}>
    /** 模块菜单加载路径 **/
    var PATH_LOAD_MODULE_MENU = "<{:U('Menu/loadModuleMenu')}>";

	/** 系统设置菜单加载路径 **/
    var PATH_LOAD_SYSTEM_SET_MENU = "<{:U('Menu/loadSystemSetMenu')}>";

    /** 课程管理菜单加载路径 **/
    var PATH_LOAD_COURSE_MANAGE_MENU = "<{:U('Menu/loadCourseManageMenu')}>";

    /** 所有菜单加载路径 **/
    var PATH_LOAD_MENU = "<{:U('Menu/index')}>";

    /** 添加子菜单 **/
    var PATH_ADD_SUB_MENU = "<{:U('Menu/addSubMenu')}>";
	
</script>